<div class="row">
  <div class="col">
    <rs-header [title]="title"></rs-header>
  </div>
</div>
<div class="row">
  <div class="col-8 mx-auto my-3">
    <div class="float-end">
      <rs-file-input (fileSelected)="onFileSelected($event)"></rs-file-input>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8 mx-auto">
    <rs-results-table [players]="players"></rs-results-table>
  </div>
</div>
<div class="row">
  <div class="col mx-auto">
    <rs-footer></rs-footer>
  </div>
</div>

