<label for="file" class="selected-file-info"><span *ngIf="selectedFile != null" class="selected-file-text">Selected file: </span>{{selectedFileName}}
</label>
<button (click)="fileInput.click()" class="select-file-button" mat-flat-button color="primary">Choose file
</button>
<input type="file"
       id="file"
       accept=".txt"
       hidden="hidden"
       #fileInput
       (change)="onFileSelected($event)"/>
