<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>{{data.content}}</div>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button mat-flat-button color="primary" mat-dialog-close="Ok">Ok</button>
</div>
