<div class="row">
  <div class="col">
    <mat-form-field>
      <input matInput type="text" placeholder="Search players" [(ngModel)]="listFilter">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-paginator
      [length]="filteredPlayers.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event">
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
<div class="row">
  <div class="col">
    <table mat-table
           [dataSource]="filteredPlayers.slice(pageEvent.pageIndex * pageEvent.pageSize, pageEvent.pageIndex * pageEvent.pageSize + pageEvent.pageSize)"
           class="mat-elevation-z8">

      <!-- Player Full Name Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Player</th>
        <td mat-cell *matCellDef="let player"> {{player.firstName + ' ' + player.lastName}}</td>
      </ng-container>

      <!-- Player Result Column -->
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef>Result</th>
        <td mat-cell *matCellDef="let player"> {{player.result}} </td>
      </ng-container>

      <!-- Player Points Columns -->
      <span *ngFor="let i of [] | range:1:23">
    <ng-container matColumnDef="{{i}}">
      <th mat-header-cell *matHeaderCellDef>{{i}}</th>
      <td mat-cell *matCellDef="let player"> {{player.points[i - 1] || ''}} </td>
    </ng-container>
  </span>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


